<mat-card class="table-container">
  <h2>Destinacije</h2>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let d">{{ d.id }}</td>
    </ng-container>

    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</th>
      <td mat-cell *matCellDef="let d">{{ d.naziv }}</td>
    </ng-container>

    <ng-container matColumnDef="drzava">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Država</th>
      <td mat-cell *matCellDef="let d">{{ d.drzava }}</td>
    </ng-container>

    <ng-container matColumnDef="prosecna_ocena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prosečna ocena</th>
      <td mat-cell *matCellDef="let d">{{ d.prosecna_ocena }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="5"></mat-paginator>
</mat-card>
